/*Estilos para la navbar*/

.deskheader {
    background: linear-gradient(90.77deg, rgba(255, 255, 255, 0.72) 9.57%, rgba(255, 255, 255, 0.45) 95.45%);
    backdrop-filter: blur(4px);
    border-radius: 40px;
    padding: 0px 1px 5px 66px;
    margin-top: 10px;
    position: relative;
    z-index: 99;
    border: 1px solid rgba(255, 255, 255, 0.6);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.logoregistraduria {
    width: 112px;
    height: 57px;
    background-repeat: no-repeat;
    background-image: url(../img/logo-mainlogo.svg);
    background-size: contain;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 0rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}
.navbar > .container, .navbar > .container-fluid, .navbar > .container-sm, .navbar > .container-md, .navbar > .container-lg, .navbar > .container-xl, .navbar > .container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-family: 'Arial', sans-serif;
    margin: auto;
    font-size: 29px;
    color: #002D55;
    margin-left: 14px;
}
