/* styles.css */

body {
    display: block;
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: repeat-y;
    background: radial-gradient(circle at 67.6% 20.39%, rgba(255, 255, 255, 0.5), transparent 69%),
                radial-gradient(circle at 88.75% 28.67%, rgba(255, 255, 255, 0.5), transparent 60%),
                radial-gradient(circle at 13.33% 0.38%, #c8f7f4, transparent 38%),
                radial-gradient(circle at 86.77% 1.6%, #bfd4f5, transparent 39%),
                radial-gradient(circle at 81.09% 74.15%, rgba(255, 255, 255, 0.5), transparent 57%),
                radial-gradient(circle at 67.81% 96.71%, #bedbf7, transparent 36%),
                radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%);
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    color: #333;
}

/* Estilo para el formulario */
form {
    max-width: 600px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centrar el formulario horizontalmente */
    padding: 20px; /* Espacio interno alrededor del formulario */
    background-color: #f9f9f9; /* Color de fondo para el formulario */
    border: 1px solid #ccc; /* Borde del formulario */
    border-radius: 5px; /* Borde redondeado */
}

/* Estilo para los bloques de formulario */
.bloque-formulario {
    margin-bottom: 15px; /* Espacio entre cada bloque de formulario */
    display: flex; /* Utilizamos flexbox para alinear elementos */
    align-items: center; /* Alinea verticalmente los elementos */
}

/* Estilo para los labels dentro de los bloques */
.bloque-formulario label {
    flex: 0 0 200px; /* Ancho fijo para los labels */
    margin-right: -25px; /* Espacio entre el label y el input/select */
    text-align: right; /* Alinear el texto del label a la derecha */
    vertical-align: top; /* Alinear el label con el inicio del input/select */
    text-align: left; /* Ajuste el texto del label a la izquierda */
}

/* Estilo para los inputs y selects dentro de los bloques */
.bloque-formulario input[type="text"],
.bloque-formulario input[type="number"],
.bloque-formulario select {
    flex: 1; /* El input/select ocupa todo el espacio restante */
    padding: 8px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    border: 1px solid #ccc; /* Borde del input/select */
    border-radius: 4px; /* Borde redondeado */
    box-sizing: border-box; /* Incluir el padding en el ancho total */
}

/* Estilo para el botón de submit */
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos para campos deshabilitados */
.deshabilitado {
    opacity: 0.7; /* Reduce la opacidad de los campos deshabilitados */
    pointer-events: none; /* Evita que se puedan interactuar con los campos deshabilitados */
}

.deshabilitado input, .deshabilitado select {
    background-color: #f0f0f0; /* Color de fondo gris para indicar deshabilitado */
}
