<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="apple-touch-icon" sizes="57x57" href="assets/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/ico/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#f40342f">
    <meta name="msapplication-TileImage" content="assets/images/ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#002D55">
    <meta name="author" content="">
    <link rel="made" href=""/>
    <meta name="robots" content="INDEX, FOLLOW">
    <title>SOMOS B1G DIGITAL</title>
    <meta name="description" content="">
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/simple-line-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/quick-events.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/datatable.css') }}"/>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/design-system.css') }}" rel="stylesheet" crossorigin="anonymous">
</head>

<body id="main">

<!--FOOTER--->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="disclamer col-lg-4 col-md-12 col-sm-12">
                <div class="logo-container">
                    <img alt="" class="log-rncefooter" src="{{ url_for('static', filename='img/mainlogo-white.svg') }}">
                </div>
                <div class="socialnet-container">
                    <a href="https://www.facebook.com/RegistraduriaNacional/" class="socialnet facebook"></a>
                    <a href="https://twitter.com/Registraduria" class="socialnet twitter"></a>
                    <a href="https://www.youtube.com/user/RegistraduriaNal#" class="socialnet youtube"></a>
                    <a href="https://www.instagram.com/registraduria/" class="socialnet instagram"></a>
                    <a href="https://www.linkedin.com/company/registradur%C3%ADa-nacional-del-estado-civil/" class="socialnet linkedin"></a>
                    <a href="https://www.linkedin.com/company/registradur%C3%ADa-nacional-del-estado-civil/" class="socialnet tiktok"> </a>
                </div>
            </div>
            <div class="menu-footer col-lg-4 col-md-12 col-sm-12">
                <p class="white"><i class="fa-solid fa-location-dot"></i> Av. Calle 26 n.º 51-50, CAN, Bogotá, Colombia. CP: 111321 </p>
                <p class="white"><i class="fa-solid fa-envelope"></i> Horario de atención correspondencia de lunes a viernes de 8:00 a. m. a 4:30 p. m. en jornada continua (Sede CAN av. calle 26 nº 51-50)</p>
                <p class="white"> <i class="fa-solid fa-phone"></i>  Conmutador: +57 (601) 220 2880</p>
                <p class="white"><i class="fa-solid fa-clock"></i>  Centro de Atención e Información Ciudadana (CAIC): Carrera 7.ª n.º 16-49, edificio Córdoba.<br>Horario: 8:00 a. m. a 4:00 p. m., en jornada continua </p>
                <p class="white"><i class="fa-solid fa-copyright"></i> Copyright 2022 - Todos los derechos reservados Registraduría Nacional del Estado Civil. </p>

            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="content-footer">
                    <div class="content-sections">
                        <a href="/Politicas-de-privacidad-y-condiciones-de-uso.html?var_mode=calcul" target="_blank"> <p class="white"> Políticas de privacidad</p></a>
                        <a href="https://correo.registraduria.gov.co/owa/auth/logon.aspx?replaceCurrent=1&url=https%3a%2f%2fcorreo.registraduria.gov.co%2fowa" target="_blank"> <p class="white"> Correo institucional</p></a>
                        <a href="https://www.office.com/" target="_blank"> <p class="white"> Correo institucional (Office 365)</p></a>
                        <a href="http://translate.google.com/translate?sl=es&tl=en&u=http%3A%2F%2Fwww.registraduria.gov.co%2F" target="_blank"> <p class="white"> Translate</p></a>
                        <a href="/Politicas-de-privacidad-y-condiciones-de-uso.html?var_mode=calcul" target="_blank"> <p class="white"> Condiciones de uso</p></a>
                    </div>
                    <div class="content-sections">
                        <a href="" target="_blank"> <p class="white"> Mapa del sitio</p></a>
                        <a href="https://wsp.registraduria.gov.co/contactenos/" target="_blank"> <p class="white"> Contáctenos</p></a>
                        <a href="https://biblioteca.registraduria.gov.co/pmb/opac_css/index.php" target="_blank"> <p class="white"> Biblioteca </p></a>
                        <a href="https://intranet.registraduria.gov.co/" target="_blank"> <p class="white"> Intranet</p></a>
                    </div>
                    <div class="content-sections">
                        <a href="https://wsp.registraduria.gov.co/normatividad/" target="_blank"> <p class="white"> Normativa</p></a>
                        <a href="/-Procedimientos-150-.html?var_mode=calcul" target="_blank"> <p class="white"> Correos judiciales</p></a>
                        <a href="https://wsp.registraduria.gov.co/contacto/" target="_blank"> <p class="white"> PQRSDC</p></a>
                        <a href="/Glosario.html?var_mode=calcul" target="_blank"> <p class="white"> Glosario</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row bar-footer">
        <div class="col-6"> <p class="white">Última actualización 11:39 am julio 5 de 2022</p></div>
        <div class="col-6"><p class="white">Recomendado uso de <i class="fa-brands fa-chrome"></i>  <a class="white" href="https://www.google.com/chrome/browser/desktop/index.html"><i class="icon-chrome"></i> Google Chrome </a></p></div>
    </div>
</footer>

<div class="container">
    <div class="row fixed-bottom container-buttons">
        <ul class="buttons nav">
            <li class="buttons-section-r col-4"><a class="button-link active-button institutional" href="">Institucional</a></li>
            <li class="buttons-section-r col-4"><a class="button-link  services" href="/Plantillas%20base/TEMPLATES/02-k-01.html">Servicios a la ciudadanía</a></li>
            <li class="buttons-section-r col-4"><a class="button-link cedae" href="">CEDAE (Datos para la democracia)</a></li>
        </ul>
    </div>
</div>

</body>



<!-- Include js files -->
<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.magnific-popup.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/quick-events.js') }}"></script>
<script src="js/bootstrap.js"></script>
<script src="assets/js/datatables.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/bda6dd05c0.js" crossorigin="anonymous"></script>


<script type="text/javascript">
    function open (URL,width,height){
        window.open(URL,'windowOpenTab', 'scrollbars=NO,resizable=1,width='+width+',height='+height+',left=0, top=0');
    }
</script>
<script src="js/menu_funcionalidad.js"></script>
</html>


