<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Normatividad</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/design-system.css') }}">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/colombia.png') }}" class="favicon">
    
    </head>
<body>

    <div class="container">
        <div class="navbar deskheader">
            <div class="container-fluid">
                <a class="navbar-brand logoregistraduria" target="_blank" href="https://www.registraduria.gov.co/"></a>
            </div>
        </div>
    </div>

</body>
</html>
